h1{
    background-color: #57c2d9 ;
    padding: 0.6em;
    margin: 0;
}
header{
    margin-left: 0px;
}
span{
    color: #7ecedf;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

}
nav{
    background-color: #f5f5f5;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-right: 10rem;
}
article{
    background-color: white;
    margin: 10px;
    padding: 8px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;

}


.article1{
    background-color: #d9e87a;
    padding-top: 10px;
    padding-left: 7px;
    padding-bottom: 7px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    
}
#seccion-1{
    background-color: #fafafa;
    width: 101rem;
    margin-right: 3em;
    height: 30em;
}


*{
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
}

main{
    margin-left: 10px;
    
}

aside{
    background-color: #f5f5f5;
    width: 15.4%;
    float: right;
    align-items: flex-end;
    height: 769px;
}

#aside{
    background-color: #ebe78b;
    padding: 10px;
}





#seccion-2{
    background-color:#f2f2f2;
    width: 101rem;
    margin-right: 3em;
    
}

#columnas{
    display: flex;
    flex-direction: row;
}

#footer{
    background-color: #57c2d9;
    
    padding: 1em;
    margin-left: 0%;
}
