body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #ff0000;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: #b8b8b8;
    font-weight: bold;
    text-decoration: underline;
}
p {
    font-style: oblique;
}
span{
    color:#ff0000;
}
li{
    list-style-type: upper-roman;
}
.Franky{
    background-color: green;
}
.Avi{
    background-color: cyan;
}
.Boris{
    background-color: red;
}
.Tony{
    background-color: yellowgreen;
}
h2~h2{
    color: #8b8b8b;
}
h2~h2~h2{
    color: rgb(85, 85, 85);
}
h2~h2~h2~h2{
    color:#000;
}